build
bin-debug
bin-release
bin
obj
Debug
Release
profile
Makefile
.DS_Store
.settings
.project
.actionScriptProperties
.flexProperties
.flexLibProperties
.waf*
.svn
.lock-wscript
.cproject
*.make
*.pyc
*.as3proj
*.sln
*.vcproj.*.user
*.vcxproj.*.user
*.vcxproj.user
*.vcxproj
*.vcxproj.filters
*.xcodeproj
*.pch
*.ncb
*.aps
*.suo
*.opensdf
*.sdf
*.obj
*.db
*.pbxuser
*.mode*
*.1
